/* 
Refer to the following locations in this stylesheet for the requirements from this week's assignment:
Use of at least three color variables: Immediately below
Use of nested styling: Hyperlinks styling
Use of a mixin: .prev, .next styling
*/

// Color Variables
@yellow: #ffb612;
@dark-gray: #333;
@gray: #a5acaf;
@caption-gray: #222;

// Full Page
* {
    box-sizing: border-box;

    &:focus {
        border-color: @yellow !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @yellow !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @yellow !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @yellow !important;
    }
}

// Body
body {
    padding-top: 70px;
}

// Containers
.container {
    position: relative;
}

// Hyperlinks
a {
    color: @dark-gray;
    // Example of Nested Styling:
    &:hover {
        color: @gray;
        text-decoration: none;
        cursor: pointer;
    }
}

// Buttons
button {
    background-color: @dark-gray !important;
    border-color: @dark-gray !important;

    &:hover {
        background-color: @gray !important;
        border-color: @gray !important;
    }
}

// NavBar
.navbar {
    background-color: @dark-gray;

    // Dropdown menu items
    .dropdown-item:focus {
        background-color: gray;
    }
}

// Slideshow Elements
.slideShow {
    .mySlides {
        display: none;
    }

    // Add a pointer when hovering over the thumbnail images
    .cursor {
        cursor: pointer;
    }

    // Next & previous buttons
    .prev,
    .next {
        // Example of a mixin
        .cursor;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;

        // On hover, add a black background color with a little bit see-through
        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    // Position the "next button" to the right
    .next {
        right: 0.73em;
        border-radius: 3px 0 0 3px;
    }

    // Container for image text
    .caption-container {
        text-align: center;
        background-color: @caption-gray;
        padding: 2px 16px;
        color: white;
    }

    .thumbRow:after {
        content: "";
        display: table;
        clear: both;
    }

    // Six columns side by side
    .thumbColumn {
        float: left;
        width: 16.66%;
    }

    // Add a transparency effect for thumnbail images
    .thumbnailImage {
        opacity: 0.6;
    }

    .active,
    .thumbnailImage:hover {
        opacity: 1;
    }
}
.ticketLogo {
    max-width: 40%;
    height: auto;
    padding-bottom: 40px;
}
